<div class="login-container">
    <button class="close-button" (click)="closeLogin()">✖</button>
    <h1 class="welcome-heading">Welcome to JioSaavn</h1>
    <p class="sub-heading">{{ isSignUp ? 'Sign Up' : 'Log In' }} to access your music world!</p>
    
    <div class="input-container">
      <input type="tel" placeholder="Enter Your Mobile Number" class="mobile-input" [(ngModel)]="mobileNumber" />
      <button class="continue-button" (click)="continue()">{{ isSignUp ? 'Sign Up' : 'Log In' }}</button>
    </div>
  
    <div class="terms">
      <p>Select ‘Continue’ to agree to our <a href="#">Terms of Service</a> and acknowledge our <a href="#">Privacy Policy</a>.</p>
    </div>
    
    <h4 class="connect-heading"><span>OR CONNECT WITH</span></h4>
    
    <div class="social-buttons">
      <button class="social-button facebook-button" (click)="loginWithFacebook()">Facebook</button>
      <button class="social-button google-button" (click)="loginWithGoogle()">Google</button>
    </div>
    
    <p class="toggle-link">
      {{ isSignUp ? "Already have an account?" : "Don't have an account?" }}
      <a (click)="toggleSignUp()" class="toggle-link-text">{{ isSignUp ? 'Log In' : 'Sign Up' }}</a>
    </p>
  </div>
  