<footer class="categories">
    <div class="categories1">
        <p class="heading">TOP ARTISTS</p>
        <ul class="col">
            <li>Neha Kakkar</li>
            <li>Arijit Singh</li>
            <li>Badshah</li>
            <li>Justin Bieber</li>
            <li>Himesh Reshammiya</li>
            <li>Lata Mangeshkar</li>
            <li>Shreya Ghoshal</li>
            <li>Sanam Puri</li>
        </ul>
    </div>
    <div>
        <p class="heading">TOP ACTORS</p>
        <ul class="col">
            <li>Salman Khan</li>
            <li>Allu Arjun</li>
            <li>Sunny Leone </li>
            <li>Amitabh Bachchan</li>
            <li>Varun Dhawan</li>
        </ul>
    </div>

    <div>
        <p class="heading">DEVOTIONAL SONGS</p>
        <ul class="col">
            <li>Krishna Bhajan</li>
            <li>Mahamrityunjaya Mantra</li>
            <li>Deva Shree Ganesha</li>
            <li>Hanuman Chalisa</li>
            <li>Gayatri Mantra</li>
            <li>Mata Ke Bhajan</li>
            <li>Bhakti Geet</li>
        </ul>
    </div>
    <div>
        <p class="heading">LANGUAGE</p>
        <ul class="col">
            <li>Haryanvi Songs</li>
            <li>Punjabi Songs</li>
            <li>Hindi Songs</li>
            <li>Bhojpuri Songs</li>
            <li>Tamil Songs</li>
            <li>Kannada Songs</li>
            <li>Gujarati Songs</li>
            <li>Rajasthani Songs</li>
        </ul>
    </div>
    <div>
        <p class="heading">ARTIST ORIGINALS</p>
        <ul class="col">
            <li>Zaeden - Dooriyan</li>
            <li>Raghav - Sufi</li>
            <li>SIXK - Dansa</li>
            <li>Siri - My Jam</li>
            <li>Lost Stories, "Mai Ni Meriye"</li>
        </ul>
    </div>
    <div>
        <p class="heading">COMPANY</p>
        <ul class="col">
            <li>About Us</li>
            <li>Culture</li>
            <li>Blog</li>
            <li>Jobs</li>
            <li>Terms & Privacy</li>
            <li>Help & Support</li>
            <li>JioSaavn Artist Insights</li>
            <li>JioSaavn YourCast</li>
        </ul>
    </div>
    <hr>
    <div class="content">
        <div>JioSaavn</div>
        <div>ProJioSaavn for iOS</div>
        <div>JioSaavn for Android</div>
        <div>New Releases</div>
    </div>
    <hr>
    <div class="follow-us">
        <div class="left-content follow-us">
            <span>© 2024 Saavn Media Limited All rights reserved.</span>
        </div>
        <div class="right-content follow-us">
            <span>Follow Us:</span>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-linkedin"></i>
        </div>
    </div>
</footer>