<aside class="sidebar h-full padding" [class.closed]="isClosed">

  <nav>
    <h1 class="span">BROWSE</h1>
      <ul>
        <li><a routerLink="/newReleases" (click)="navigate('/newReleases')">Releases</a></li>
        <li><a routerLink="/topCharts" (click)="navigate('/topCharts')">Top Charts</a></li>
        <li><a routerLink="/topPlaylists" (click)="navigate('/topPlaylists')">Top Playlists</a></li>
        <li><a routerLink="/podCasts" (click)="navigate('/podCasts')">Top Trending</a></li>
        <li><a routerLink="/topArtists" (click)="navigate('/topArtists')">Top Albums </a> </li>
      </ul>
      <h1 class="span">LIBRARY</h1>
      <ul>
        <li><button (click)="sendEvent()" style="border:none;"><i class="fas fa-history"></i> History</button></li>
        <li><button (click)="sendEvent()" style="border:none;"><i class="fas fa-heart"></i> Liked Songs</button></li>
        <li><button (click)="sendEvent()" style="border:none;"><i class="fa-solid fa-image"></i> Albums</button></li>
        <li><button (click)="sendEvent()" style="border:none;"><i class="fas fa-podcast"></i> Podcasts</button></li>
        <li><button (click)="sendEvent()" style="border:none;"><i class="fas fa-users"></i> Artists</button></li>
      </ul>
    </nav>
    <button class="newPlayList" type="button" (click)="sendEvent()">+ New Playlist</button>
</aside>

<div *ngIf="visible" class="login-popup">
  <div class="dialog">
    <button (click)="closeDialog()" class="close-button">&times;</button>
    <div class="dialog-content">
      <div class="heading">
        <p>{{ isSignUp ? "Don't have a JioSaavn account?" : "Already have an account?" }}
          <span class="signup-link">
            <a (click)="toggleSignUp()" class="toggle-auth-link">{{ isSignUp ? 'Sign Up' : 'Log in' }}</a>
          </span>
        </p>
      </div>
      <hr class="divider">
      <div class="welcome-section">
        <h1 class="welcome-heading">Welcome To JioSaavn</h1>
        <p class="subtext">{{ isSignUp ? 'Log in' : 'Sign in' }} to create playlists, build your library, get personalized recommendations & more!</p>
      </div>
      <div class="input-group">
        <input type="tel" placeholder="Enter Your Mobile Number" class="mobile-input">
      </div>
      <div class="button-group">
        <button class="continue-button" type="button">Continue</button>
      </div>
      <div class="terms-text">
        <p>
          Select ‘Continue’ to give consent to JioSaavn’s <a href="#">Terms of Service</a> and acknowledge that you have read and understood the <a href="#">Privacy Policy</a>. An SMS may be sent to authenticate your account, and message and data rates may apply.
        </p>
      </div>
      <h4 class="connect-heading">OR CONNECT WITH</h4>
      <div class="social-buttons">
        <button class="social-button facebook-button">Facebook</button>
        <button class="social-button email-button">E-mail</button>
      </div>
    </div>
  </div>
</div>
