<header class="navbar">
  <div class="between">
    <nav class="d-flex align-center">
      <a routerLink="/" class="nav-link">
        <img src="/assets/logo-gif.gif" alt="Logo" height="40px" class="img">
      </a>

      <div class="navbarSearch">
        <div class="search-container">
          <input [(ngModel)]="searchQuery" (focus)="navigateToSearch()" (input)="searchSongs()" type="text"
            placeholder="Search for songs..." class="search-input" />
        </div>

        <div *ngIf="showPopup" class="search-popup">
          <div class="popup-header">
            <h3>Search Results</h3>
            <button (click)="closePopup()" class="close-button">Close</button>
          </div>

          <div *ngIf="isLoading" class="loading-indicator">Loading...</div>

          <div *ngIf="!isLoading">
            <div *ngIf="searchResults.length > 0">
              <ul class="result-list">
                <li *ngFor="let song of searchResults" (click)="addLikedSong(song)" class="result-item">
                  <img *ngIf="song.image" [src]="song.image" alt="{{ song.title }}" class="result-image" />
                  <span class="result-title">{{ song.title }} - {{ song.artist }}</span>
                </li>

              </ul>
            </div>
            <div *ngIf="searchResults.length === 0" class="no-results">No results found.</div>
          </div>
        </div>
      </div>

      <div class="right-content">
        <div class="auth-buttons">
          <button class="button" (click)="showLogin = !showLogin">
            <i class="material-icons">login</i> Log In
          </button>
          <button class="button" (click)="showSignup = !showSignup">
            <i class="material-icons">person_add</i> Sign Up
          </button>
          <button (click)="addSong()">
            <i class="material-icons">add_circle</i></button>
        </div>
      </div>
    </nav>
  </div>

  <app-login *ngIf="showLogin" (close)="showLogin = false"></app-login>

  <div class="liked-songs-card" *ngIf="likedSongs.length > 0">
    <h3>Liked Songs</h3>
    <ul>
      <li *ngFor="let song of likedSongs">
        <img *ngIf="song.image" [src]="song.image" alt="{{ song.title }}" class="liked-song-image" />
        <span>{{ song.title }} - {{ song.artist }}</span>
      </li>
    </ul>
  </div>


</header>