<div class="full-screen-container">
  <!-- <div class="left-side">
    <img src="/assets/logo.png" alt="Logo" class="photo">
  </div> -->
  <div class="right-side">
    <div class="dialog">
      <button class="back-button" (click)="navigateBack()">← Back</button>
      <div class="dialog-content">
        <h1 class="welcome-heading">Welcome to JioSaavn</h1>
        <p class="sub-heading">{{ isSignUp ? 'Sign Up' : 'Log in' }} to access your music world!</p>
        <div class="input-container">
          <input type="tel" placeholder="Enter Your Mobile Number" class="mobile-input">
          <button class="continue-button" type="button">Continue</button>
        </div>
        <div class="terms">
          <p>Select ‘Continue’ to agree to our <a href="#">Terms of Service</a> and acknowledge our <a href="#">Privacy
              Policy</a>. Message and data rates may apply.</p>
        </div>
        <h4 class="connect-heading"><span>OR CONNECT WITH</span></h4>
        <div class="social-buttons">
          <button class="social-button facebook-button">Facebook</button>
          <button class="social-button google-button">Google</button>
        </div>
        <p class="toggle-link">
          {{ isSignUp ? "Already have an account?" : "Don't have an account?" }}
          <a (click)="toggleSignUp()" class="toggle-link-text">{{ isSignUp ? 'Log In' : 'Sign Up' }}</a>
        </p>
      </div>
    </div>
  </div>
</div>