<div class="full-screen-container">
  <div class="left-side">
    <img src="/assets/logo.png" alt="Photo" class="photo">
  </div>
  <div class="right-side">
    <div class="dialog">
      <button class="back-button" (click)="navigateBack()">← Back</button>
      <div class="dialog-content">
        <div class="heading">
          <p>{{ isSignUp ? "Don't have a JioSaavn account?" : "Already have an account?"}} 
            <span class="signup-link">
              <a (click)="toggleSignUp()" style="cursor: pointer;">
                {{ isSignUp ? 'Sign Up' : 'Log in' }}
              </a>
            </span>
          </p>
        </div>
        <hr>
        <div>
          <h1>Welcome To JioSaavn</h1>
          <p>{{ isSignUp ? 'Log in' : 'Sign in' }} to create playlists, build your library, get personalized recommendations & more!</p>
        </div>
        <div>
          <input type="tel" placeholder="Enter Your Mobile Number" class="mobile-input">
        </div>
        <div>
          <button class="continue-button" type="button">Continue</button>
        </div>
        <div>
          <span>
            Select ‘Continue’ to give consent to JioSaavn’s Terms
            of Service and acknowledge that you have read and
            understood the Privacy Policy. An SMS may be sent
            to authenticate your account, and message and data
            rates may apply.
          </span>
        </div>
        <h4><span>OR CONNECT WITH</span></h4>
      </div>
      <button class="facebook-button">Facebook</button>
      <button class="email-button">Email</button>
    </div>
  </div>
</div>
