.card-cnt {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    gap: 26px;
}

.main {
    background-color: #f2f2f2;
    padding-inline: 40px;

}

.card:hover {
    transform: scale(1.07);
}

.card {
    width: 100%;
    text-align: center;
    color: #3E3E3E;
    cursor: pointer;
    transition: transform 0.2s;

    p {
        margin: 6px;
    }

    img {
        border-radius: 6px;
    }
}